$yellow-bg:#949951;
$btn-color:#D97A07;
$link-color:#FA790A;
$price-color:#5F671F;
$footer-color:#D9D9D9;
$timetable-bg:#EFEAE6;
$title-white:#EFEAE6;
$title-dark:#707329;
$text-color:#0D0D0D;
$bold:'MullerBold';
$light:'MullerLight';
$light-italic:'MullerLightItalic';
$medium:'MullerMedium';
$regular:'MullerRegular';