



%sf-regular{
    font-family: 'HelveticaNeue',sans-serif;
    font-weight: 400;
}
%sf-bold {
   font-family: 'HelveticaNeueBold',sans-serif;
    font-weight: 700;
}
%sf-light{
     font-family: 'HelveticaNeueCyr-Light',sans-serif;
     font-family: 300;
}